<h3><%= @album.name %></h3>

<h4>By <%= @band.name %></h4>

<ol>
	<% @tracks.each do |track| %>
		<li><%= link_to track.title, track_url(track) %></li>
		<% if @current_user.admin? %>
			<%= button_to "Delete Track", track_url(track), :method => "delete" %>
		<% end %>
	<% end %>
</ol>

<% if @current_user.admin? %>
	<%= button_to "Delete Album", album_url(@album), :method => "delete" %>
<% end %>